rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // 任何人可讀寫 word cloud 詞彙
    match /words/{document} {
      allow read, write: if true;
    }

    // 其他集合預設禁止存取
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
